<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food_type.name %>
</p>

<p>
  <b>Shop:</b>
  <%= @food_type.shop_id %>
</p>

<p>
  <b>Enable:</b>
  <%= @food_type.enable %>
</p>

<p>
  <b>Sort:</b>
  <%= @food_type.sort_id %>
</p>


<%= link_to 'Edit', edit_food_type_path(@food_type) %> |
<%= link_to 'Back', food_types_path %>
