<h1>Listing primary_businesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Enbale</th>
  </tr>

<% @primary_businesses.each do |primary_business| %>
  <tr>
    <td><%=h primary_business.name %></td>
    <td><%=h primary_business.enbale %></td>
    <td><%= link_to 'Show', primary_business %></td>
    <td><%= link_to 'Edit', edit_primary_business_path(primary_business) %></td>
    <td><%= link_to 'Destroy', primary_business, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New primary_business', new_primary_business_path %>