<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @primary_business.name %>
</p>

<p>
  <b>Enable:</b>
  <%= @primary_business.enable %>
</p>


<%= link_to 'Edit', edit_primary_business_path(@primary_business) %> |
<%= link_to 'Back', primary_businesses_path %>
