<p>
  <b>Order:</b>
  <%=h @order_detail.order_id %>
</p>

<p>
  <b>Food:</b>
  <%=h @order_detail.food_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @order_detail.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @order_detail.number %>
</p>

<p>
  <b>Price:</b>
  <%=h @order_detail.price %>
</p>


<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>