<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @shop_hour.shop_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @shop_hour.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @shop_hour.end_time %>
</p>


<%= link_to 'Edit', edit_shop_hour_path(@shop_hour) %> |
<%= link_to 'Back', shop_hours_path %>
