<%= javascript_include_tag "jquery-1.7.1.min" %>
<%= javascript_include_tag "areas/search" %>
<%= javascript_include_tag "areas/top_js" %>
<%= javascript_include_tag "jquery.cookie" %>
<%= javascript_include_tag "areas/recommendSup" %>
<div id="top">
    <div id="top_inner">
    	<% if @area %>
			<a class="logo" href="/area/<%= @area.id%>">
		<% else %>
			<a class="logo" href="/home">
		<% end %>
            <img src="/images/tranlogo.png">
        </a>
        <div id="top_quickmenu" class="quick_menu">
            <dl>
                <dd>
                    <a id="ctl00_MyOrderLink" class="MyOrderLink" href="iTodayOrder.aspx">我的订单</a>
                </dd>
                <dd class="all_mess">
                    <span id="ctl00_notification" class="notification"><b class="message_prompt">
                        &nbsp;</b> <span id="ctl00_num" class="num" style="display:none;">0</span>
                        <div id="ctl00_MessageContent" class="layer_top_account layer_top_Message br4 shadow " style="display: none">
                            <span class="arrow"></span>
                            <ul id="ctl00_MessageBox" class="MessageBox">
                                
                                        <li messagetype='1' class='readed'>
                                            <div>
                                                <div class="l">
                                                    <strong style='color:#b4b4b4'>
                                                        订单提交成功</strong></div>
                                                <div class="r">
                                                    10月1日</div>
                                            </div>
                                            <div>
                                                <div class="message">
                                                    您在金铃食...的订单提交成功</div>
                                                <div class="r">
                                                    <a href="#">[查看]</a></div>
                                            </div>
                                        </li>
                                    
                                
                                <li class="btn clearfix noPointer">
                                    <input class="setallmessage" type="submit" value="知道了" />
                                </li>
                            </ul>
                        </div>
                    </span>
                </dd>
                <dd id="ctl00_top_user" class="Newaccount"><div class='login_regist'  ><a href='#' class='log_btn regist user_logined UserNickName'>123456</a><div class='layer_top_account layer_topInfo br4 shadow ' style='display: none;'><span class='arrow'></span><ul><li><a href='http://kaichiba.com/personal/home.aspx' class='top_n1'>我的帐户</a></li><li><a href='http://kaichiba.com/personal/iTodayOrder.aspx' class='top_n2'>订单中心</a></li><li><a href='http://kaichiba.com/personal/sysNotice.aspx' class='top_n3'>系统公告</a></li><li><a href='http://kaichiba.com/CommomPage/c.aspx?CleanType=2' class='top_n4'>退出登录</a></li></ul></div></div></dd>
            </dl>
        </div>
        <div id="search" class="fr br3">
            <input id="keyword" type="text" onkeydown="enterIn(event)" value="搜索餐厅、美食" autocomplete="off" />
            <a class="serch_btn_a" href="javascript:searchClick();">搜索</a>
            <div class="searchRes" id="searchRes">
            </div>
        </div>
        <!--end of quickmenu-->
    </div>
</div>
<div class="shade" id="shade" style="display: none; opacity: 0.8; filter: alpha(opacity=80);">
    &nbsp;</div>
<div class="urgency_message" noticeid="" style="display: none">
    <div class="urgency_message_top">
        <h2 class="urgency_message_top_title">
            紧急通知</h2>
        <p class="urgency_message_show">
            您的电话<span id="UserPhone">15839382938</span>拨打不通，送餐员联系不上您，非常着急，请及时检查，保持电话畅通！！</p>
    </div>
    <div class="urgency_message_bottom">
        <a href="javascript:;" class="return_message">好的，我已经联系送餐员</a>
    </div>
</div>
<!--end of top-->
<input type="hidden" value="http://kaichiba.com/ajax" id="ajaxUrl" />

    <div id="wrap">
            <div id="school">
			    <a href=""></a>
			    <a href="">[切换位置]</a>
			    <span>/</span>
			    <em>送餐信息</em>
		        </div> 
        <div id="container" class="clearfix">
            <!--end of navigation-->
            <div class="shadow clearfix" id="pCenter">
                 <div id="pMenu" class="gray">
	<div class="border">
		<dl>
		<dt>个人中心</dt>
        <dd><a href="home.aspx"  class="n1">我的帐户</a></dd>
		<dd><a href="iAdd.aspx" class="n6">送餐信息</a></dd>
		<dd><a href="UpdatePassword.aspx" class="n10">修改密码</a></dd>
		</dl>
	</div>
	<div class="border">
		<dl>
		<dt>订单中心</dt>
        <dd><a href="iTodayOrder.aspx" class="n2">今日订单</a></dd>
		<dd><a href="iHistoryOrder.aspx" class="n3">历史订单</a></dd>
		<dd><a href="iComments.aspx" class="n4">订单评价</a></dd>
		</dl>
	</div>
	<div class="border">
		<dl>
		<dt>信息中心</dt>
        <dd><a href="sysNotice.aspx" class="n7">系统公告</a></dd>
		<dd><a href="iMessage.aspx" class="n8">网站反馈</a></dd>
		<dd><a href="iSupMessage.aspx" class="n9">餐厅留言</a></dd>
		</dl>
	</div>
	<div class="border promote" style="display:none">
		<dl>
		<dt>推广联盟</dt>
		<dd><a href="promotion.aspx" class="n11">我的推广</a></dd>
		<dd><a href="income.aspx" class="n12">效果收益</a></dd>
		</dl>
	</div>
</div>

                <div id="pAccount">
                    <div id="historyInfo" class="acc_con">
                        <p class="ac_title">
                            个人信息</p>
                        <div class="ac_content">
                            <table>
                                <col class="info_addre" />
                                <col class="info_mobi" />
                                <col class="info_mobi" />
                                <col class="info_oper" />
                                <thead>
                                    <tr>
                                        <td>
                                            详细地址
                                        </td>
                                        <td class="td_center">
                                            联系电话
                                        </td>
                                        <td class="td_center">
                                            备选电话
                                        </td>
                                        <td>
                                            操作
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="tbDeliveryInfo">
                                    
                                            <tr>
                                                <td class="personAdd" type="address">
                                                    到底
                                                </td>
                                                <td class="td_center" type="phone">
                                                    02987654321
                                                </td>
                                                <td class="td_center" type="AlternatePhone">
                                                    
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="to_default">设为默认</a>
                                                    <span style="display: none;">
                                                        180662</span> <a href="javascript:;" class="change">修改</a> <a href="javascript:;" class="del">删除</a>
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td class="personAdd" type="address">
                                                    中山路38号海关
                                                </td>
                                                <td class="td_center" type="phone">
                                                    18976564761
                                                </td>
                                                <td class="td_center" type="AlternatePhone">
                                                    
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="to_default">设为默认</a>
                                                    <span style="display: none;">
                                                        178204</span> <a href="javascript:;" class="change">修改</a> <a href="javascript:;" class="del">删除</a>
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td class="personAdd" type="address">
                                                    昆明
                                                </td>
                                                <td class="td_center" type="phone">
                                                    12312312312
                                                </td>
                                                <td class="td_center" type="AlternatePhone">
                                                    
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="to_default">设为默认</a>
                                                    <span style="display: none;">
                                                        163620</span> <a href="javascript:;" class="change">修改</a> <a href="javascript:;" class="del">删除</a>
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td class="personAdd" type="address">
                                                    房顶上
                                                </td>
                                                <td class="td_center" type="phone">
                                                    12312312312
                                                </td>
                                                <td class="td_center" type="AlternatePhone">
                                                    
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="default">默认信息</a>
                                                    <span style="display: none;">
                                                        174859</span> <a href="javascript:;" class="change">修改</a> <a href="javascript:;" class="del">删除</a>
                                                </td>
                                            </tr>
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="newInfo" class="acc_con">
                        <p class="ac_title fold_sign fsign_down">
                            新增送餐信息</p>
                        <div class="ac_content hidden">
                            <ul>
                                <li>
                                    <label>
                                        <span>*</span>详细地址：</label>
                                    <input type="text" id="NewAddress" />
                                    <p class="focusTips">请详细一点</p>
                                </li>
                                <li>
                                    <label>
                                        <span>*</span>联系电话：</label>
                                    <input type="text" id="NewPhone" maxlength="11" /><p class="focusTips">外卖到时将以该电话通知您</p>
                                </li>
                                <li>
                                    <label>备选电话：</label>
                                    <input type="text" id="NewAltPhone" maxlength="11" />
                                    <p class="focusTips">为方便送餐员联系，请再留一个备用电话</p>
                                </li>
                                <li class="save"><a href="javascript:;" id="saveNewAddr">保存</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of p_content-->
        </div>
        <!--end of container-->
        <!--修改送餐信息浮层内容-->
        <div id="hideChg" style="display:none;" >
            <ul class="chg_add">
                <li>
                    <label>送餐地址：</label><input type="text" class="changeAddr" value="" /></li>
                <li>
                    <label>联系电话：</label><input type="text" class="changeTel" maxlength="11" value="" /></li>
                <li>
                    <label>备选电话：</label><input type="text" class="changeAltTel" maxlength="13" value="" /></li>
                <li>
                    <label>设为默认：</label><input type="checkbox" name="checkbox" value="设为默认" checked="checked" class="chkDefault" /></li>
            </ul>
        </div>
        
<div id="feedback_btn">
</div>
<div id="MsgHide" style="display: none;">
    <div id="feedbackTip">
        <label>
            小提示：催单请进入相应餐厅的页面进行留言，这样餐厅就能看见哦~</label>
        <textarea id="feedBackTipContent"></textarea>
    </div>
    <div id="isVisitor" style="display:none;">
        <label>
            您的邮箱(选填)</label>
        <input type="text" id="visitorMail" />
    </div>
    <p id="isUser">
        我们的回复将发到个人中心的“问题反馈”里，请注意关注，感谢您的建议。</p>
    <table class="msgVild fBackVali">
        <tr>
            <td>
                验证码：
            </td>
            <td>
                <input type="text" id="fBackValiDateCode" class="ValiDateCode fBackValiDateCode"
                    maxlength="4" style="width: 60px;" />
            </td>
            <td>
                  <div id="ValidateCode"></div>
            </td>
            <td>
                <span id="ValidateCodeClick_fBack" style="line-height: 24px;">更换验证码</span>
            </td>
            <td style="width: 102px;">
                <p class="validRs fBackValiRs">
                </p>
            </td>
        </tr>
    </table>

    <div class="___dialogBtn fBackBtn">
        <input type="button" class="dialogBtn feedBackBt" value="提交" />
        <input type="button" class="dialogBtn hover fCancelBt" value="取消" />
    </div>
</div>
<div id="footer">
    <p>
        <a href="http://kaichiba.com/about/fAbout" rel="nofollow">关于我们</a>|<a href="http://kaichiba.com/about/fRecruit"
            rel="nofollow">招贤纳士</a>|<a href="http://kaichiba.com/about/fHelp" rel="nofollow">帮助中心</a>|<a
                href="http://m.kaichiba.com" target="_blank" rel="nofollow">手机HTML5版</a>|<a href="http://wap.kaichiba.com"
                    target="_blank" rel="nofollow">手机WAP版</a>|<a href="http://shop.kaichiba.com"
                        target="_blank" rel="nofollow">餐厅登录</a>|<a href="http://blog.kaichiba.com" target="_blank">美食谭</a>
|<a href="http://ls.kaichiba.com" target="_blank">零食吧</a></p>
    <hr />
    <p>
         Copyright © 2011-2013 开吃吧 All Rights Reserved 京ICP备12015678号 | 京公网安备110114001132号</p>
</div>
<!--end of footer-->
<input name="ctl01$hid_IspromoteUser" type="hidden" id="hid_IspromoteUser" value="False" />
<%= javascript_include_tag "jquery.XYTipsWindow.2.8.js" %>
<script type="text/javascript">
    $().ready(function () {
        if ($("#hid_IspromoteUser").val() == "True") {
            $("#pMenu .promote").css("display", "block");
        }
        $("#ValidateCode").html("<img src='http://kaichiba.com/Code/ValidateCode.aspx?r=" + Math.random() + "'>");

        $("#ValidateCode,#ValidateCodeClick_fBack").click(function () {
            $("#ValidateCode").html("<img src='http://kaichiba.com/Code/ValidateCode.aspx?r=" + Math.random() + "'>");

        });
    });    
    
</script>
<%= javascript_include_tag "areas/common" %>

    </div>
    <!--end of wrap-->
	<%= javascript_include_tag "personal/personal_iAdd" %>
	<%= javascript_include_tag "areas/common" %>
    <script id="iDealKCBVisitRecord" src="/javascripts/home/iDeal.visitRecord.js?webId=2&channel=1&pageType=23" type="text/javascript"></script>
