<h1>Listing user_contacts</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_contacts.each do |user_contact| %>
  <tr>
    <td><%= user_contact.user_id %></td>
    <td><%= link_to 'Show', user_contact %></td>
    <td><%= link_to 'Edit', edit_user_contact_path(user_contact) %></td>
    <td><%= link_to 'Destroy', user_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User contact', new_user_contact_path %>
