<p>
  <b>Food type:</b>
  <%=h @food.food_type_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @food.name %>
</p>

<p>
  <b>Enable:</b>
  <%=h @food.enable %>
</p>

<p>
  <b>Sort:</b>
  <%=h @food.sort_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @food.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @food.price %>
</p>

<p>
  <b>Food state:</b>
  <%=h @food.food_state %>
</p>

<p>
  <b>Food unit:</b>
  <%=h @food.food_unit %>
</p>

<p>
  <b>Activity state:</b>
  <%=h @food.activity_state %>
</p>

<p>
  <b>Is new:</b>
  <%=h @food.is_new %>
</p>

<p>
  <b>Is sign:</b>
  <%=h @food.is_sign %>
</p>

<p>
  <b>Is hot:</b>
  <%=h @food.is_hot %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>