<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="phead">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>山东轻工业学院（长清校区）外卖 附近餐厅_外卖电话_在线订餐_济南外卖_开吃吧订餐网</title>
        <meta name="description" content="开吃吧 – 网上订餐 – 山东轻工业学院（长清校区）附近餐厅网上订餐、外卖电话、外卖菜单。轻轻松松,在线订餐！" />
        <meta name="keywords" content="山东轻工业学院（长清校区）,餐厅,外卖,网上订餐,开吃吧订餐网" />
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/icon" />
        <%= stylesheet_link_tag "base.css?v4.1.7" %>
        <%= stylesheet_link_tag "common.css?v4.1.7" %>
        <%= stylesheet_link_tag "main.css?v4.1.7" %>
        <%= stylesheet_link_tag "recommendSup.css?v4.1.7" %>
        <%= javascript_include_tag "jquery-1.7.1.min.js" %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
