<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="width=device-width" name="viewport" />
        <title> 订单信息 - 开吃吧 - 网上订餐 - 大学生的订餐平台</title>
        <link rel="shortcut icon" href="../images/favicon.ico" type="image/icon" />
        <%= stylesheet_link_tag "base.css?v4.1.7" %>
        <%= stylesheet_link_tag "common.css?v4.1.7" %>
        <%= stylesheet_link_tag "main.css?v4.1.7" %>
		<%= stylesheet_link_tag "order.css" %>
        <%= javascript_include_tag "jquery-1.7.1.min.js" %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
